.search {
  margin-top: 3rem;
  background-color: rgb(51, 51, 51);
  padding: 25px;
  border-radius: 10px;
}

.search > form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search > form > input {
  width: 50%;
  padding: 5px;
  border: solid 2px rgb(11, 11, 11);
  border-radius: 7px;
  background-color: rgb(15, 15, 15);
  color: white;
  align-self: center;
  margin-top: 15px;
  font-size: 90%;
}

.search > form > input:focus {
  outline: 2px solid rgb(237, 102, 255);
}

.search > form > input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(15, 15, 15) inset !important;
  -webkit-text-fill-color: white !important;
}

.search > form > button {
  background-color: rgb(237, 102, 255);
  width: 20%;
  margin-top: 15px;
  border: none;
  border-radius: 7px;

  transition: ease-in-out 150ms;
}

.search > form > button:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.486);
  translate: -0.3% -0.3%;
  transition: ease-in-out 250ms;
}

.search > form > button:active {
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.486);
  translate: 0.3% 0.3%;
}

.weather-display-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.output {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.output > img {
  background-color: rgb(180, 180, 255);
  border-radius: 10px;
  padding: 5px;
  margin: 2rem;
  width: 100px;
  height: 100px;
}

.output > div {
  display: inherit;
  flex-direction: column;
  gap: 5px;
}

.err {
  color: rgb(255, 128, 128);
}
